In [1]:
K = [[0,1,0,1,1,0,1,0],[1,0,1,0,0,1,0,1],[0,1,0,1,1,0,1,0],[1,0,1,0,0,1,0,1],[1,0,1,0,0,1,0,1],[0,1,0,1,1,0,1,0],[1,0,1,0,0,1,0,1],[0,1,0,1,1,0,1,0]]

In [3]:
import pandas as pd
import scipy.linalg as ln
import numpy as np

e,y = ln.eig(K)
psi = np.transpose(y)

In [4]:
pd.DataFrame(K)

   0  1  2  3  4  5  6  7
0  0  1  0  1  1  0  1  0
1  1  0  1  0  0  1  0  1
2  0  1  0  1  1  0  1  0
3  1  0  1  0  0  1  0  1
4  1  0  1  0  0  1  0  1
5  0  1  0  1  1  0  1  0
6  1  0  1  0  0  1  0  1
7  0  1  0  1  1  0  1  0

In [7]:
k=1

h = [[0 for i in range(8)] for j in range(8)]
h[0][1] = k;  h[0][3] = k;  h[0][4] = k;  h[0][6] = k;
h[1][0] = k;  h[1][2] = k;  h[1][5] = k;  h[1][7] = k;
h[2][1] = k;  h[2][3] = k;  h[2][4] = k;  h[2][6] = k;
h[3][0] = k;  h[3][2] = k;  h[3][5] = k;  h[3][7] = k;
h[4][0] = k;  h[4][2] = k;  h[4][5] = k;  h[4][7] = k;
h[5][1] = k;  h[5][3] = k;  h[5][4] = k;  h[5][6] = k;
h[6][0] = k;  h[6][2] = k;  h[6][5] = k;  h[6][7] = k;
h[7][1] = k;  h[7][3] = k;  h[7][4] = k;  h[7][6] = k;


np.array(h)-np.array(K)

array([[0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0]])

In [11]:
nbrs = [[0,1],[0,3],[0,4],[0,6],
        [1,0],[1,2],[1,5],[1,7],
        [2,1],[2,3],[2,4],[2,6],
        [3,0],[3,2],[3,5],[3,7],
        [4,0],[4,2],[4,5],[4,7],
        [5,1],[5,3],[5,4],[5,6],
        [6,0],[6,2],[6,5],[6,7],
        [7,1],[7,3],[7,4],[7,6]]

In [14]:
k=1

h = [[0 for i in range(8)] for j in range(8)]
for pair in nbrs:
    h[pair[0]][pair[1]] = k
    
np.array(h)-K

array([[0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0]])

In [31]:
N=8
pauli = ''
for i in range(N):
    pauli = pauli + 'Z'
paulis = [pauli]
for pair in nbrs:
    if pair[0] < pair[1]:
        pauliX = ''
        pauliY = ''
        nonp = 'I'
        for i in range(N):
            if i == pair[0]:
                pauliX = pauliX + 'X'
                pauliY = pauliY + 'Y'
                nonp = 'Z'
            elif i == pair[1]:
                pauliX = pauliX + 'X'
                pauliY = pauliY + 'Y'
                nonp = 'I'
            else:
                pauliX = pauliX + nonp
                pauliY = pauliY + nonp
        paulis.append(pauliX)
        paulis.append(pauliY)

In [32]:
paulis

['ZZZZZZZZ',
 'XXIIIIII',
 'YYIIIIII',
 'XZZXIIII',
 'YZZYIIII',
 'XZZZXIII',
 'YZZZYIII',
 'XZZZZZXI',
 'YZZZZZYI',
 'IXXIIIII',
 'IYYIIIII',
 'IXZZZXII',
 'IYZZZYII',
 'IXZZZZZX',
 'IYZZZZZY',
 'IIXXIIII',
 'IIYYIIII',
 'IIXZXIII',
 'IIYZYIII',
 'IIXZZZXI',
 'IIYZZZYI',
 'IIIXZXII',
 'IIIYZYII',
 'IIIXZZZX',
 'IIIYZZZY',
 'IIIIXXII',
 'IIIIYYII',
 'IIIIXZZX',
 'IIIIYZZY',
 'IIIIIXXI',
 'IIIIIYYI',
 'IIIIIIXX',
 'IIIIIIYY']

In [35]:
tst = 5
if tst not in [4,8]:
    print('no')

no